################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SysPlan/SysPlan.API/bin/Debug/netcoreapp3.1
/SysPlan/SysPlan.API/obj
/SysPlan/SysPlan.Application/obj
/SysPlan/SysPlan.Application/bin/Debug/netstandard2.0
/SysPlan/SysPlan.Data/bin/Debug/netstandard2.0
/SysPlan/SysPlan.Data/obj
/SysPlan/SysPlan.Core/bin/Debug/netstandard2.0
/SysPlan/SysPlan.Core/obj
/SysPlan/.vs/SysPlan/DesignTimeBuild
/SysPlan/.vs/SysPlan/config
