<div class="container-fluid" style="padding-top: 20px;">

    <div class="center-block text-center">
      <h2>Locadora SysPlan</h2>
      <p>Acesse o link para carregar a lista de filmes. Ou use o logout para sair do app.</p>  
    </div>
    
    <div class="card-container">
      <a href="#" [routerLink]="['/filme']" routerLinkActive="router-link-active" >
        <span>Filmes</span>
      </a>
      <br/>
    </div>

    <div class="card-container">
      <button class="btn btn-outline-default" (click)="logout()">Logout</button>
    </div>
  
  </div>